<section class="container">
    <div>
        <h1>
            The Tech Blog!
        </h1>
        <h5>
            What would you like to write about?
        </h5>
    </div>
    <div class="mb-3">
        <label for="post">Title</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
</section>



<script src="/js/posts.js"></script>