<section>
    <h1>Welcome!</h1>
    <div class="signup-link">
        <a href="/login">Login now</a>
    </div>
    </form>
</section>
{{#each posts as |post|}}
<section class="container">

    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <h5 class="card-title">{{post.title}}</h5>
            <h6>Created by: {{post.user.username}} </h6>
            <p class="card-text">{{post.content}}</p>


        </div>
    </div>

</section>
{{/each}}